<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>synchro</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="test.css" />
    <script src="../node_modules/jqlite/jqlite.js"></script>
    <script src="../node_modules/handlebars/dist/handlebars.js"></script>
    <script src="../node_modules/lodash/lodash.js"></script>
    <script src="../node_modules/node-diff3/index.js"></script>
    <script src="../node_modules/diff/dist/diff.js"></script>
    <script src="../node_modules/diff-dom/diffDOM.js"></script>
    <script src="../src/machine.rc1.js"></script>
    <script src="../lib/http.js"></script>
    <script src="../lib/http-queue.js"></script>
    <script src="test.js"></script>
</head>
<body synchro>
    <div controller="login">
        <div>
            <input type="text" placeholder="username" bind="value:>username"><br/>
            <input type="text" placeholder="password" bind="value:>password"><br/>
            <input type="text" placeholder="secret" bind="value:>secret"><br/>
            <button on="click:send(hash)">Login</button>
            <select bind="value<:selectedFruit" readonly>
                <option value="0">apples</option>
                <option value="1">bananas</option>
                <option value="2">pears</option>
                <option value="3">mangos</option>
            </select>
            <div engine="Handlebars">
                <select bind="value::selectedFruit">{{#each fruits}}
                    <option value="{{@index}}">{{@this}}</option>
                {{/each}}</select>
            </div>
        </div>
        <pre bind="innerHTML<:fruits[CTRL.selectedFruit]"></pre>
        <pre bind="innerHTML<:hash"></pre>
        <pre bind="innerHTML<:json"></pre>
    </div>
    <div engine="Handlebars" controller="login">
        <div><b>username</b> : {{username}};</div>
    </div>
    <!--ul engine="Handlebars" controller="login">{{#each fruits}}<li>({{@index}}){{this}}</li>{{/each}}</ul-->
    <div controller="login">
        <ul engine="Handlebars">{{#each fruits}}<li><input type="text" bind="value::fruits[{{@index}}]"></li>{{/each}}</ul>
        <input type="text" placeholder="new fruit" bind="value::newFruit"/><button on="click:addFruit(newFruit)">ADD</button>
    </div>
    <!--ul>
        {{#each login}}
        <li>{{@key}}</li>
        <li bind="innerHTML<:login.{{@key}}"></li>
        {{/each}}
    </ul-->
    <div controller="drawboard">
        <canvas bind="this:>canvas"></canvas>
        <button on="click:test(canvas)">Test</button>
    </div>
</body>
</html>